.btn-danger {
	margin-left:2%;
}
.res{
}
h1 {
	margin-left:30%;
	margin-bottom:50px;
	color: red;
}
.logo{
 float:left;
 margin-left:30%;
 width:10%;
 padding:10px;
 background-color:black;
 border-radius:50%;
 border: 2px red solid;
}

.jumbotron{
	background-image: url("flaming.jpg");
}
.plate {
	margin-left:500px;
	width:100px;
	float:left;
}
.clock {
	margin-left:200px;
	width:100px;
	float:left;
}

